GEMINI_API_KEY=AIzaSyCJSaJJwOb7aDso-2sO8HJBsoHhbw1uXRY
SUPABASE_URL=https://hroiiqkhfaewlziuihdn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhyb2lpcWtoZmFld2x6aXVpaGRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzQ1ODI3MCwiZXhwIjoyMDY5MDM0MjcwfQ.a9haj0ZNHnmeLsdt15aUxiym0Y2EGqfAmSx4IHb2eyQ
